# --- CONFIGURACIÓN DE RED ---
# IP pública o dominio del servidor donde se desplegará el sistema
SERVER_IP=0.0.0.0

# --- CONFIGURACIÓN DE BASE DE DATOS ---
DB_HOST=db
DB_NAME=ministock_db
DB_USER=user_ministock
DB_PASSWORD=tu_password_seguro
MYSQL_ROOT_PASSWORD=root_password_seguro

# --- CONFIGURACIÓN DE PUERTOS ---
BACKEND_PORT=3000
FRONTEND_PORT=80